body {
	font-family: Arial, Helvetica, sans-serif;
}

.error {
	font-family: 
	font-size: 1.1em;
	text-indent: 45px;
	font-style: italic;
    color: DodgerBlue;
}

.fdata {
	width: 800px; 
	margin: 0 auto; 
	padding: 20px 20px 20px; 
	background: white; 
	border: 2px solid navy;

}
